<% layout('layout') -%>
<h1><%= title %></h1>

<form action="" method="post">
    <div class="form-group mb-2">
        <label for="book">Book: </label>
        <select name="book" id="book" class="form-control mt-1" aria-placeholder="'Select book">
            <% book_list.sort(function(a, b) { %>
                <% let textA = a.title.toUpperCase(); %>
                <% let textB = b.title.toUpperCase(); %>
                <% return (textA < textB) ? -1 : (textA > textB) ? 1 : 0; %> 
            <%})%>
            <% for (const book of book_list) {%>
                <option value="<%=book.id%>" selected="<% locals.selected_book==book._id.toString() ? 'selected' : false %>"><%=book.title%></option>
            <%}%>
        </select>
    </div>
    <div class="form-group mb-2">
        <label for="imprint">Imprint: </label>
        <input type="text" id="imprint" class="form-control mt-1" name="imprint" placeholder="Publisher and date information" required="true" value="<%undefined===locals.bookinstance ? '' : bookinstance.imprint%>">
    </div>
    <div class="form-group mb-2">
        <label for="due_back">Date when book available: </label>
        <input type="date" id="due_back" class="form-control mt-1" name="due_back" value="<%undefined===locals.bookinstance ? '' : bookinstance.due_back%>">
    </div>
    <div class="form-group mb-2">
        <label for="status">Status: </label>
        <select name="status" id="status" class="form-control mt-1" aria-placeholder="Select status" required="true">
            <option value="Maintenance">Maintenance</option>
            <option value="Available">Available</option>
            <option value="Loaned">Loaned</option>
            <option value="Reserved">Reserved</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if (locals.errors) {%>
    <ul>
        <%errors.forEach(error => {%>
            <li><%=error.msg%></li>    
        <%})%>
    </ul>
<%}%>