<% layout('layout') -%>
<h1><%=title%></h1>

<form method="POST" action="">
    <div class="form-group my-2">
        <label for="name">Genre:
        <input type="text" name="name" id="name" class="form-control mt-1" placeholder="Fantasy, Poetry, etc." value=<%= (locals.genre === undefined) ? '' : genre.name %>>
        </label>    
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if (locals.errors) {%>
    <ul>
        <%errors.forEach(error => {%>
            <li><%=error.msg%></li>    
        <%})%>
    </ul>
<%}%>